div.locations-page {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    div.filter {
        margin: 10px 0;
        display: grid;
        grid-template-columns: auto 35px;
        gap: 1rem;
        align-items: end;
        padding: 10px 1em;
    }
    
    table {
        width: 100%;
    }
      
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .header {
        height: 200px;
        background-image: url('/assets/travelling.jpg');
        background-size: cover;
        background-position: center;
    }

    .table-wrap {
        width: 100%;
        overflow-x: auto;
    }
}
  