<mat-toolbar color = 'primary'>
    <button *ngIf="authService.loggedUser.value" mat-icon-button (click)="router.navigate(['locations']);">
        <mat-icon>{{ title != 'Locations Service' ? 'arrow_back' : 'map' }}</mat-icon>
    </button>
    <span>{{ titleService.title ? titleService.title : title}}</span>
    <span class="spacer"></span>
    <button matTooltip="Account" mat-icon-button (click)="account();" *ngIf="authService.loggedUser.value">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
<notifier-container></notifier-container>